.TaskApp{
    background-color: azure;
}
.TaskApp ul li{
    margin: 1.2rem;
    list-style-type: none;
}
.TaskApp .deletebtn{
    background-color: red;
    position: absolute;
    left: 50%;
    margin:5px;
}
.TaskApp h1{
    text-align: center;
    color: brown;
}
